$colorText: #ffffff;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
/* Шапка */
.top_div_header {
  height: 735px;
  background-image: url(images/img/top_back/TopBack.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top_header {
  height: 77px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.input_text {
  border-radius: 20px;
  border: 1px solid $colorText;
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  color: $colorText;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 32px;
  padding-right: 32px;
}
.input_text::placeholder {
  color: $colorText;
}
.menu {
  display: flex;
  gap: 32px;
  &_mobile {
    display: none;
  }
}
.menu_link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $colorText;
  font-style: normal;
  font-weight: 400;
}
.menu_link:hover {
  text-decoration: underline;
}
.title {
  margin-top: 64px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 16px;
  color: $colorText;
  font-style: normal;
  max-width: 792px;
}
.top_text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: $colorText;
  font-style: normal;
  font-weight: 400;
}
.top_link {
  font-size: 16px;
  line-height: 24px;
  color: $colorText;
  font-style: normal;
  font-weight: 400;
}
/* Мебель для */
.for_box {
  padding-top: 64px;
}
.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.heading {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.for_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 415px;
  grid-column: span 4;
  color: $colorText;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.for_item_big {
  grid-column: span 6;
}
.for_item_1 {
  background-image: url(images/img/furniture/отдых.jpg);
}
.for_item_2 {
  background-image: url(images/img/furniture/Работа.jpg);
}
.for_item_3 {
  background-image: url(images/img/furniture/Кухни.jpg);
}
.for_item_4 {
  background-image: url(images/img/furniture/Детская.jpg);
}
.for_item_5 {
  background-image: url(images/img/furniture/Ванная.jpg);
}
/* Основная часть */
.main_text {
  margin-top: 8px;
  padding-top: 12px;
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 32px;
}
.product_content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 56px;
}
.product_box {
  padding-top: 64px;
  padding-bottom: 39px;
}
.image_ron {
  width: 100%;
}
.content_image_voda {
  width: 378px;
  display: flex;
  flex-direction: column;
}
.content_image_ronald {
  width: 378px;
  display: flex;
  flex-direction: column;
}
.content_image_vent {
  width: 378px;
  display: flex;
  flex-direction: column;
}
.content_title {
  margin-top: 10px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.content_discription {
  margin-top: 8px;
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price_content {
  display: flex;
  gap: 32px;
}
.content_title_price {
  margin-top: 12px;
  color: #050505;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.content_title_sale {
  margin-top: 12px;
  color: #888;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: line-through;
}
.content_catalog {
  margin-top: 13px;
}
.box {
  display: flex;
  column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}
.box_padding {
  padding-top: 48px;
  padding-bottom: 16px;
}
.content_box {
  display: flex;
  flex-direction: column;
  width: 378px;
}
.div_bottom_link {
  margin-top: 4px;
  padding-bottom: 34px;
}
.bottom_link {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
/* ФУУУТЕР */
.footer {
  background: #f7f6f6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer_content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_info {
  display: flex;
  gap: 129px;
}
.footer_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer_link {
  text-decoration: none;
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_text {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
.footer_input {
  background: $colorText;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
}
.footer_input::placeholder {
  color: #c4c4c4;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_buttom {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid $colorText;
  box-sizing: border-box;
  border-radius: 20px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  padding-left: 86px;
  padding-right: 86px;
}

/* КАТАЛОГ */
.select {
  position: relative;
  width: 288px;
}
.select select {
  display: block;
  width: 100%;
  height: 41px;
  padding-left: 14px;
  padding-right: 22px;
  background: none; /* убираем фон */
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  -webkit-appearance: none; /* Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* убираем дефолнтные стрелочки */
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.select:after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
  background-image: url(images/img/Polygon\ 1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 11px;
}
.top_content {
  height: 400px;
  background-image: url(images/img/img_catalog/header_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top_content_title {
  margin-top: 127px;
}
.catalog-nav {
  padding-top: 64px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.breadcrumbs_link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.breadcrumbs_link:hover {
  text-decoration: underline;
}
.breadcrumbs_link:not(:last-child)::after {
  content: "/";
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding-left: 10px;
  padding-right: 10px;
}
.div_bottom_link {
  /* margin-top:32px ;
    margin-bottom:64px ; */
}
@import "cart";
@import "tablet";
@import "mobile";
